{% extends 'base.html' %}

<!-- {% block title %}home{% endblock title %} -->

{% block body %}
 <div class="container">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/img/konark.jpg" class="d-block w-100" alt="image not available">
          </div>
          <div class="carousel-item">
            <img src="/static/img/khandagiri.jpg" class="d-block w-100" alt="image not available">
          </div>
          <div class="carousel-item">
            <img src="/static/img/kalijai.jpeg" class="d-block w-100" alt="image not available">
          </div>
        </div>
      </div>
 </div>
{% endblock body %}

