
{% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="{% static 'css/login.css' %}" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <h3>Travel and Enjoy</h3>
    </div>

    <!-- Login Form -->
    <form method="post">
    {% csrf_token %}
      {{form}}
      {% if type == "login" %}
      <input type="submit" class="fadeIn fourth" value="Log In">
      {% else %}
      <input type="submit" class="fadeIn fourth" value="Sign Up">
      {% endif %}
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
      {% if type == "login" %}
        <a class="underlineHover" href="{% url 'signup' %}">Sign UP</a>
        {% else %}
        <a class="underlineHover" href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>

  </div>
</div>